.reset-password-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }
  }
  .reset-password-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  }
  .reset-password-container form div {
  margin-bottom: 20px;
  position: relative;
  }
  .reset-password-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
  }
  .reset-password-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fefefe;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  &:focus {
  border-color: #4facfe;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
  }
  }
  .reset-password-container .password-input .toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
  }
  .reset-password-container button {
  width: 100%;
  padding: 12px 20px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  &:hover {
  background: #4facfe;
  transform: scale(1.05);
  }
  }
  @media (max-width: 768px) {
  .reset-password-container {
  padding: 20px;
  margin-top: 150px;
  }
  .reset-password-container h2 {
  font-size: 20px;
  }
  .reset-password-container input {
  font-size: 14px;
  }
  .reset-password-container button {
  font-size: 14px;
  }
  }
  @media (max-width: 430px) {
  .reset-password-container {
  padding: 15px;
  }
  .reset-password-container h2 {
  font-size: 18px;
  }
  .reset-password-container input {
  font-size: 12px;
  }
  .reset-password-container button {
  font-size: 12px;
  }
  }